html {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1 {
    font-variant: small-caps;
}

header {
    background-color: hsl(80, 60%, 35%);
    color: hsl(0, 0%, 100%);
    padding: .5em 1em;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}
header a:hover {
    color: hsl(39, 100%, 50%);
}

main {
    padding: 2em;
    overflow-y: auto;
    flex-grow: 1;
}

footer {
    background-color: hsl(0, 0%, 50%);
    flex-grow: 0;
}

table {
    width: 100%;
}

table th, table td {
    font-size: .9rem;
}

table thead th {
    text-align: left;
}

table tbody tr:hover {
    background-color: hsl(0, 0%, 80%);
}

img {
    width: 100%;
    max-height: 50vh;
}

pre {
    margin: 0;
}