doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles.css")
    body 
        h1.center Just a silly test
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, atque?
