$font-stack: Verdana, Helvetics, sans-serif;
$primary-color: #333;

body {
    font: $font-stack;
    color: $primary-color;
}

h1 {
    color: lighten($primary-color, 50%);
    background-color: darken($primary-color, 50%);
}

.center {
    text-align: center;
}

