img {width: 150px;}

table {width: 100%;}

thead tr {
    background-color: #555;
    color: #fff;
}

th {text-align: left;}

th:first-child, td:first-child {
    text-align: center;
}

.loading {
    color: orange;
    font-size: 1.5rem;
}

