<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Vendor</th>
            <th>Country</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.vendor}}</td>
            <td>{{this.country}}</td>
            <td>&euro; {{this.price}}</td>
            <td>
                <a href="/product/{{this.id}}">[View]</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

