<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Simple Veggie Store</title>
</head>

<body>
    <header>
        <span>The Simple Veggie Store</span>
        <span>
            <a href="/">Home</a>
            <a href="/products">Products</a>
        </span>
    </header>

    <main>{{{ body }}}</main>

    <footer>
        <img src="/veggie-store.jpg" alt="The Veggie Store">
    </footer>
</body>
</html>

